html{
scroll-behavior: smooth;
}

:root {
    --font-size-s: 12pt;
    --font-size-m: 15px;
    --font-size-l: 20pt;
    --font-size-xl: 60pt;
    --line-height1: 20pt;
    --yellow: rgb(255, 255, 0);
    --light-blue: rgb(0, 255, 255);
    --green: rgb(0, 255, 0);
    --pink: rgb(255, 0, 255);
    --red: rgb(255, 0, 0);
    --dark-blue: rgb(0, 0, 255);
    --white: rgb(255, 255, 255);
    --grey: rgb(190, 190, 190);
    --black: rgb(0, 0, 0);
    --bars: 255, 255, 255;
}

body {
  margin: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}

@font-face {
   font-family: pica;
   src: url(files/Pica.ttf);
}


.page{
  position: fixed;
  height: 100vh;
  width: 50%;
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgb(var(--bars)) 0%, rgb(var(--bars)) 10%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 20%, rgb(var(--bars)) 20%, rgb(var(--bars)) 30%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 40%, rgb(var(--bars)) 40%, rgb(var(--bars)) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 60%, rgb(var(--bars)) 60%, rgb(var(--bars)) 70%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 80%, rgb(var(--bars)) 80%, rgb(var(--bars)) 90%, rgba(0,0,0,1) 90%);
  margin: auto;
}

.page2{
  position: fixed;
  left: 50%;
  height: 100vh;
  width: 50%;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgb(var(--bars)) 0%, rgb(var(--bars)) 10%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 20%, rgb(var(--bars)) 20%, rgb(var(--bars)) 30%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 40%, rgb(var(--bars)) 40%, rgb(var(--bars)) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 60%, rgb(var(--bars)) 60%, rgb(var(--bars)) 70%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 80%, rgb(var(--bars)) 80%, rgb(var(--bars)) 90%, rgba(0,0,0,1) 90%);
}

.chapter{
  width: 98%;
  left: 2%;
  position: relative;
  background-color: var(--grey);
  border-radius: 0px;

  padding-top: 10px;


  /*box-shadow: 0 0 30px #333;*/
}




.title{
   position: relative;
   width: 95%;
   margin: auto;
   margin-bottom: 10px;
   /*filter: drop-shadow(0px 0px 5px rgb(var(--bars)));*/
}

.part{
   position: relative;
   width: 95%;
   margin: auto;
   filter: drop-shadow(0px 0px 5px rgb(var(--bars)));

}

.panel {
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
  box-shadow: inset 0 0 15px black;
}


.text{
  width: 85%;
  max-width: 85%;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: var(--font-size-m);
  margin-left:7.5%;
  text-indent: 2em;
  line-height: 120%;
}

p{
  text-indent: 2em;
}

.script{
  text-align: center;
  font-family: pica;
}

.script-bottom{
  width: 90%;
  text-align: center;
  font-family: pica;
  margin: auto;
  color: white;
}

.black{
  color: black;
}

i {
  background-color: white;
  color: black;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 7px;
  font-family: pica;
  font-style: normal;
  font-size: 10pt;
  border: 1pt solid black;
  /*box-shadow: 0 0 30px rgb(var(--bars));*/
}



.object{
  position:  relative;
  width: 100%;
  height:auto;
  z-index: 19;
  display: block;
  margin-bottom: 20px;
  /*filter: drop-shadow(0px 0px 5px rgb(var(--bars)));

  background-color: rgb(var(--bars));
  border-radius: 50px;
  box-shadow: 2px 2px 5px black;
  left: -5.5%;
  padding: 30px;

*/

}

.header{
  width: 98%;
  height: 100vh;
  left: 2%;
  position: relative;
  background-color: var(--grey);

  border-radius: 0px;
  padding-bottom: 100px;
  padding-top: 100px;
}

.footer{
  width: 98%;
  left: 2%;
  position: relative;
  background-color: var(--grey);

  border-radius: 0px;
  padding-bottom: 100px;
  padding-top: 100px;
}



.menu{
  z-index: 20;
  position: fixed;
  background-color: var(--white);
  width: 100%;
  height: 30px;
  bottom: 0px;
  margin: 0;
  box-shadow: 0 0 20px #333;
}

.color-bar{
  height: 100%;
  width: 14.28%;
  position: relative;
  float: left;

}

#yellow{
  background-color: var(--yellow);

}

#light-blue{
  background-color: var(--light-blue);
}

#green{
  background-color: var(--green);
}

#pink{
  background-color: var(--pink);
}

#red{
  background-color: var(--red);
}

#dark-blue{
  background-color: var(--dark-blue);
}

#black{
  background-color: var(--black);
}
