html{
scroll-behavior: smooth;
}

:root {
    --font-size-s: 12pt;
    --font-size-m: 15px;
    --font-size-l: 17.5pt;
    --font-size-xl: 30pt;
    --line-height1: 20pt;
    --yellow: rgb(255, 255, 0);
    --light-blue: rgb(0, 255, 255);
    --green: rgb(0, 255, 0);
    --pink: rgb(255, 0, 255);
    --red: rgb(255, 0, 0);
    --dark-blue: rgb(0, 0, 255);
    --white: rgb(255, 255, 255);
    --grey: rgb(170, 170, 170);
    --black: rgb(0, 0, 0);
    --bars: 255, 255, 255;
}

body {
  margin: 0;
  max-width: 100vw;
  width: 100vw;
  height: auto;
  background-attachment: fixed;
  background-image: url("files/background1.svg");
  background-color: var(--grey);
  display:block;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
   font-family: pica;
   src: url(files/Pica.ttf);
}

@font-face {
   font-family: playbill;
   src: url(files/PLAYBILL.ttf);
}


.page{
  position: fixed;
  height: 100vh;
  width: 2%;
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 20%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 30%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 40%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 70%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 80%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 90%, rgba(0,0,0,1) 90%);
  margin: auto;
  z-index: 19;
}

.page2{
  position: fixed;
  right: 0px;
  height: 100vh;
  width: 2%;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 20%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 30%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 40%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 70%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 80%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 90%, rgba(0,0,0,1) 90%);
  z-index: 19;
}

.chapter{
  width:100%;
  z-index: 20;
  position: relative;

  border-radius: 0px;
  border-top: 10pt solid var(--white);
}

.chapter:nth-last-of-type(even){
  background-color: var(--grey);
}

.chapter:nth-last-of-type(odd){
  background-color:;
}

.title:hover{
  filter: drop-shadow(6px 6px 30px black);
}



.title{
   position: relative;
   width: 86%;
   margin: auto;

   padding-top: 30px;
   padding-bottom: 30px;

     filter: drop-shadow(6px 6px 8px black);
}




.part{

   position: relative;
   width: 86%;
   margin: auto;

   padding-top: 30px;
   padding-bottom: 30px;

}

.panel {
  background-color:var(--white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
  box-shadow: inset 6px 6px 15px black;
  border-top: 10pt solid var(--black);

}


.text{
  width: 85%;
  max-width: 85%;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: var(--font-size-m);
  margin-left:7.5%;
  text-indent: 2em;
  line-height: 120%;
}

p{
  text-indent: 2em;
}

.script{
  text-align: center;
  font-family: pica;
}

.script-bottom{
  width: 90%;
  text-align: center;
  font-family: pica;
  margin: auto;
  color: white;
}

.black{
  color: black;
}

i {
  background-color: white;
  color: black;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 7px;
  font-family: pica;
  font-style: normal;
  font-size: 10pt;
  border: 1pt solid black;
  /*box-shadow: 0 0 30px rgb(var(--bars));*/
}



.object{
  position:  relative;
  width: 100%;
  height:auto;
  z-index: 19;
  display: block;
  margin-bottom: 20px;


}

.header{
  width: 100%;
  height: auto;
  position: relative;

  padding-bottom:
}


/*
.header-text{
       position: relative;
       text-align: center;
       font-family: playbill;
       color: var(--white);
       font-size: 15vw;
       line-height: 1.2;
       text-shadow: 0.06rem 0 0.06rem var(--pink), -0.125rem 0 0.06rem var(--yellow);

       animation-duration: 0.01s;
       animation-name: textflicker;
       animation-iteration-count: infinite;
       animation-direction: alternate;

       padding-top: 5vh;
}*/

@keyframes yes{
  0%   {}

  50%  {}

  100% {}
}

.cover{
  content: url("files/long-cover.svg");
  position: relative;
  top:15px;
  left:0px;
  width:100%;
  height:auto;
  padding-bottom: 30pt;
  z-index: 1;
  filter: drop-shadow(6px 6px 8px black);
}





.gradient {
   position: relative;
   width: 100vw;
   height:10pt;
   bottom: 0px;
   left:-2%;
    background: linear-gradient(90deg, black, black, black, black,black, #f5ff00, #00ffef, #08ff00, #ff00fc, #ff0000, #0a00ff,black, black, black, black,black);
    background-size: 400vw 200%;
    outline: none;
    animation: AnimationName 6s linear infinite;


}

@keyframes AnimationName {
    0%{background-position:0% 50%}

    100%{background-position:100% 50%}
}

.background{
  position:fixed;
}

.background1{
  background-image: url("files/background1.svg");
  position:fixed;
  width:500px;

  left:0px;
  top:0px;
  z-index: 2;
}

.background2{
  width:100vw;
  height:auto;
  left:0px;
  top: 50vh;
  position:fixed;

}

.footer{
  width: 96%;
  left: 2%;
  position: relative;
  background-color: var(--grey);

  border-radius: 0px;
  padding-bottom: 100px;
  padding-top: 100px;
}

.stripes{
  z-index: 20;
  position: fixed;
  background-color: var(--white);
  width: 100%;
  height: 15px;
  top: 0px;
  margin: 0;
  filter: drop-shadow(0px 0px 3px black);
  z-index: 22;
  /*
  animation: up 1s ease forwards;
  animation-delay: 2s;
  */
}

.stripes-down{

  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 100px;
  bottom: 0px;
  margin: 0;
}

.color-bar-down{
  height: 101%;
  width: 14.28%;
  position: relative;
  float: left;
}

.color-bar-down:nth-of-type(odd){
  background-color: white;
}

.color-bar-down:nth-of-type(even){
  background-color: black;
}

@keyframes up {
    0%{height: 100vh}
    100%{height:15px;}
}

.color-bar-up{
  height: 101%;
  width: 7.14%;
  position: relative;
  float: left;
}

.color-bar-up:nth-of-type(odd){
  background-color: rgb(var(--bars));
}

.color-bar-up:nth-of-type(even){
  background-color: black;
}



.menu{
  z-index: 22;
  position: fixed;
  background-color: var(--white);
  width: 100%;
  height: 30px;
  bottom: 0px;
  margin: 0;
  filter: drop-shadow(0px 0px 3px black);
}

.color-bar{
  height: 100%;
  width: 14.28%;
  position: relative;
  float: left;
}

#yellow{
  background-color: var(--yellow);

}

#light-blue{
  background-color: var(--light-blue);
}

#green{
  background-color: var(--green);
}

#pink{
  background-color: var(--pink);
}

#red{
  background-color: var(--red);
}

#dark-blue{
  background-color: var(--dark-blue);
}

#black{
  background-color: var(--black);
}



@media only screen and (min-width:800px) {

  .header, .chapter {
    width:90%;
    margin:auto;
  }

  .background2{
    width:90%;
    left: 5%;
  }

  /*<img  class="background2" draggable="false" src="files/background2.svg">*/

  .page, .page2{
    width: 5%;
  }

  .title, .part{
    width: 50%;
  }

  .cover{
    content: url("files/cover-wide-24.svg")
  }

  .text{
    width: 60%;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: auto;
    font-size: var(--font-size-l);
  }

  .script-bottom{
    width: 50%;
  }

  .menu{
    height: 40px;
  }
}
