html{
scroll-behavior: smooth;
}

:root {
    --font-size-s: 12pt;
    --font-size-m: 15px;
    --font-size-l: 20pt;
    --font-size-xl: 30pt;
    --line-height1: 20pt;
    --yellow: rgb(255, 255, 0);
    --light-blue: rgb(0, 255, 255);
    --green: rgb(0, 255, 0);
    --pink: rgb(255, 0, 255);
    --red: rgb(255, 0, 0);
    --dark-blue: rgb(0, 0, 255);
    --white: rgb(255, 255, 255);
    --grey: rgb(170, 170, 170);
    --black: rgb(0, 0, 0);
    --bars: 255, 255, 255;
}

body {
  margin: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}

@font-face {
   font-family: pica;
   src: url(files/Pica.ttf);
}

@font-face {
   font-family: playbill;
   src: url(files/PLAYBILL.ttf);
}


.page{
  position: fixed;
  height: 100vh;
  width: 50%;
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 20%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 30%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 40%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 70%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 80%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 90%, rgba(0,0,0,1) 90%);
  margin: auto;
}

.page2{
  position: fixed;
  left: 50%;
  height: 100vh;
  width: 50%;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 20%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 30%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 40%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 70%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 80%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 90%, rgba(0,0,0,1) 90%);
}

.chapter{
  width:100%;

  position: relative;
  background-color: var(--grey);
  border-radius: 0px;
  border-top: 5pt solid var(--white);
}



.title{
   position: relative;
   width: 86%;
   margin: auto;
   filter: drop-shadow(0px 0px 3px var(--black));
   padding-top: 30px;
   padding-bottom: 30px;
}

.part{
   position: relative;
   width: 95%;
   margin: auto;
   filter: drop-shadow(0px 0px 5px rgb(var(--bars)));

}

.panel {
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
  box-shadow: inset 0 0 15px black;
  border-top: 5pt solid var(--black);

}


.text{
  width: 85%;
  max-width: 85%;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: var(--font-size-m);
  margin-left:7.5%;
  text-indent: 2em;
  line-height: 120%;
}

p{
  text-indent: 2em;
}

.script{
  text-align: center;
  font-family: pica;
}

.script-bottom{
  width: 90%;
  text-align: center;
  font-family: pica;
  margin: auto;
  color: white;
}

.black{
  color: black;
}

i {
  background-color: white;
  color: black;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 7px;
  font-family: pica;
  font-style: normal;
  font-size: 10pt;
  border: 1pt solid black;
  /*box-shadow: 0 0 30px rgb(var(--bars));*/
}



.object{
  position:  relative;
  width: 100%;
  height:auto;
  z-index: 19;
  display: block;
  margin-bottom: 20px;
  /*filter: drop-shadow(0px 0px 5px rgb(var(--bars)));
  background-color: rgb(var(--bars));
  border-radius: 50px;
  box-shadow: 2px 2px 5px black;
  left: -5.5%;
  padding: 30px;

*/

}

.header{
  width: 96%;
  height: auto;
  left: 2%;
  position: relative;
  background-color: #08ff00;
  padding-bottom:
}


/*
.header-text{
       position: relative;
       text-align: center;
       font-family: playbill;
       color: var(--white);
       font-size: 15vw;
       line-height: 1.2;
       text-shadow: 0.06rem 0 0.06rem var(--pink), -0.125rem 0 0.06rem var(--yellow);

       animation-duration: 0.01s;
       animation-name: textflicker;
       animation-iteration-count: infinite;
       animation-direction: alternate;

       padding-top: 5vh;
}*/

@keyframes yes{
  0%   {}

  50%  {}

  100% {}
}

.cover{
  position: relative;
  top:15px;
  left:0px;
  width:100%;
  height:auto;
  background-color: var(--grey);

  padding-bottom: 5pt;
}

#queer-cover{
  position: relative;
  margin: auto;
  left: 0px;
  top: 15px;
  width: 100vw;

}


#queer-cover1{
  position: absolute;
  margin: auto;
  left: 7%;
  z-index: 18;


}

#queer-cover2{
  position: absolute;
  margin: auto;
  left: 7%;
  z-index: 17;

/*
filter: drop-shadow(1px 0px 1px var(--pink));
*/

}

.gradient {
   position: relative;
   width: 100vw;
   height:5pt;
   bottom: 0px;
   left:-2%;
    background: linear-gradient(90deg, black, black, black, black,black, #f5ff00, #00ffef, #08ff00, #ff00fc, #ff0000, #0a00ff,black, black, black, black,black);
    background-size: 400vw 200%;
    outline: none;
    animation: AnimationName 6s linear infinite;


}

@keyframes AnimationName {
    0%{background-position:0% 50%}

    100%{background-position:100% 50%}
}

.footer{
  width: 96%;
  left: 2%;
  position: relative;
  background-color: var(--grey);

  border-radius: 0px;
  padding-bottom: 100px;
  padding-top: 100px;
}

.stripes{
  z-index: 20;
  position: fixed;
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  top: 0px;
  margin: 0;
  filter: drop-shadow(0px 0px 3px black);

  animation: up 1s ease forwards;
  animation-delay: 2s;
}

@keyframes up {
    0%{height: 100vh}
    100%{height:15px;}
}

.color-bar-up{
  height: 100%;
  width: 20%;
  position: relative;
  float: left;
}

.color-bar-up:nth-of-type(odd){
  background-color: rgb(var(--bars));
}

.color-bar-up:nth-of-type(even){
  background-color: black;
}



.menu{
  z-index: 22;
  position: fixed;
  background-color: var(--white);
  width: 100%;
  height: 30px;
  bottom: 0px;
  margin: 0;
  filter: drop-shadow(0px 0px 3px black);
}

.color-bar{
  height: 100%;
  width: 14.28%;
  position: relative;
  float: left;
}

#yellow{
  background-color: var(--yellow);

}

#light-blue{
  background-color: var(--light-blue);
}

#green{
  background-color: var(--green);
}

#pink{
  background-color: var(--pink);
}

#red{
  background-color: var(--red);
}

#dark-blue{
  background-color: var(--dark-blue);
}

#black{
  background-color: var(--black);
}
